<html>
	<head>
		<link href="css/grid.css" rel="stylesheet" type='text/css' />
		<link href="css/style.css" rel="stylesheet" type='text/css' />
		<link href='http://fonts.googleapis.com/css?family=Bitter:400,700,400italic|Montserrat:700,400' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
		<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
		<title>Project Wil Bailey</title>
	</head>
	<body>
		<div class="grid-container">
			<header id="message">
			<div id="red-box"></div>
				<div id="text-top">
				<div class ="mweek">MESSAGE OF THE WEEK</div>
				<div class="rreaction">Rapid Reaction</div>
				</div>
			</header>
			<div class="row">
			<div class="col-2 important">
					<div id="tweetbox">	
						<textarea name = "user-message" form = "twitter-post" id="tweet"></textarea>
					</div>
					<div id="button-section">
						<form id="twitter-post" action ="http://localhost:3000/myaction" method="post">
							<input type="submit" value="Enter" class="buttons"/>
						</form>
					</div>

					<!--<div id="past-tweets">
						<h1>Past Tweets:</h1>
						<p class="tweets-posts">I don't get why people like potatoes. What's up with that?</p>
					</div>-->
				</div>
				<div class="col-2" id="hover-columns">
					<div id="suggested">
						<h1>Other Suggested Topics:</h1>
						
						<ul class="suggested-topics">
							{{#each handles}}
							<li>
								<div id="">
									<span class="topic-titles">{{this.title}}: </span> 
									<span class="topic-desc">{{this.desc}}</span>
								</span>
							</li>
							{{/each}}
						</ul>
						
						<p>
							
							
						</p>
					</div>
										<div id="retweets">
						<h1>RT's:</h1>
						
						<ul>
							{{#each mam}}
							<li>{{this.test}}</li>
							{{/each}}
						</ul>
						
					</div>					
				</div>
			</div>
		</div>
		<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
		<script src="/js/app.js"></script>
	</body>
</html>