html{
margin: 0;
padding: 0;
}

body{
margin: 0;
padding: 0;
}

#background-blur{
background: url(../flag.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height:100%;
  z-index: -5;
  position: absolute;
  -webkit-filter: blur(10px);
}

.grid-container{
text-align: center;
}
#message{
height: 3.25em;
color: white;
background-color: #f92f39;
box-shadow: 0px 0px 50px #000000;
margin-bottom: 2em;
text-shadow: 1px 1px 5px #434343;
font-size: 2em;
}

.mweek{
font-size: 1.5em;
}

.rreaction{
font-style: italic;
font-size: .75em;
}
#text-top{
position: relative;
font-family: 'Bitter', serif;
top: 50%;
-webkit-transform: translateY(-50%);
transform: translateY(-50%);
}

form{
margin-bottom: 1em;
}
#retweets{
background-color: #4866B6;
color: white;
border-radius: 10px;
box-shadow: 0px 0px 2px #000000;
height: 20em;
margin-bottom: 2em;
transition: .5s;
}

#retweets:hover{
height: 25em;
}

body h1{
text-align: left;
padding-top: .5em;
padding-left: .5em;
font-family: 'Bitter', serif;
color: white;
font-weight: 400;
border-radius: 10px;
margin: 0px;
text-shadow: 0px 0px 10px #434343;
}

#tweetbox{
background-color: #143EB1;
color: white;
height: 28em;
border-radius: 10px;
box-shadow: 0px 0px 6px #000000;
margin-bottom: 1em; 

}

textarea {
resize: none;
font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 2em;
}

.tweets-posts{
font-size: 1.25em;
font-style: italic;
text-align: left;
margin: .5em;
font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
font-weight: 300;
padding-left: 1.5em;
}

#tweet{
width: 100%;
height: 100%;
border-radius: 10px;
border: 0px;
}

#button-section{
text-align: right;
}

#button-section input[type=submit] {
	padding:.25em 1em; 
	background-color: #ccc;
	border:0 none;
	cursor:pointer;
	-webkit-border-radius: 5px;
	border-radius: 5px; 
	color: white;
	height: 2em;
	font-size: 20px;
	font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
	}
	
#button-section input[type=submit]:hover {
	background-color: #f92f39; 
}
#suggested{
background-color: #143EB1;
color: white;
border-radius: 10px;
box-shadow: 0px 0px 2px #000000;
padding-top: .1em;
padding-bottom: .15em;
height: 10em;
}

#past-tweets{
background-color: #4866B6;
color: white;
border-radius: 10px;
box-shadow: 0px 0px 2px #000000;
height: 20em;
transition: .5s;
}

#past-tweets:hover{
height: 25em;
}